<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title class="fa fa-mountain">Almaty Hiking - Home</title>
	<link rel="icon" href="static/main/img/Fevicon.png" type="image/png">

  <link rel="stylesheet" href="static/main/vendors/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="static/main/vendors/fontawesome/css/all.min.css">
  <link rel="stylesheet" href="static/main/vendors/themify-icons/themify-icons.css">
  <link rel="stylesheet" href="static/main/vendors/linericon/style.css">
  <link rel="stylesheet" href="static/main/vendors/owl-carousel/owl.theme.default.min.css">
  <link rel="stylesheet" href="static/main/vendors/owl-carousel/owl.carousel.min.css">
  <link rel="stylesheet" href="static/main/vendors/flat-icon/font/flaticon.css">
  <link rel="stylesheet" href="static/main/vendors/nice-select/nice-select.css">

  <link rel="stylesheet" href="static/main/css/style.css">
</head>
<body class="bg-shape">

  <!--================ Header Menu Area start =================-->
  <header class="header_area">
    <div class="main_menu">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container box_1620">
          <a class="navbar-brand logo_h" href="index"><img src="static/main/img/logo.png" alt=""></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
            <ul class="nav navbar-nav menu_nav justify-content-end">
              <li class="nav-item active"><a class="nav-link" href="index">Home</a></li>
              <li class="nav-item"><a class="nav-link" href="about">About</a></li>
              <li class="nav-item"><a class="nav-link" href="mountains">Mountains</a>
              <li class="nav-item submenu dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sport Shops</a>
                <ul class="dropdown-menu">
                  <li class="nav-item"><a class="nav-link" href="shops">All Shops</a>
                  <li class="nav-item"><a class="nav-link" href="shop-sportmaster">Sportmaster</a>
                </ul>
							</li>
              <li class="nav-item"><a class="nav-link" href="contact">Contact</a></li>
            </ul>

            <div class="nav-right text-center text-lg-right py-4 py-lg-0">
              <a class="button" href="#">Get Started</a>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </header>
  <!--================Header Menu Area =================-->


  <!--================Hero Banner Area Start =================-->
  <section class="hero-banner magic-ball">
    <div class="container">

      <div class="row align-items-center text-center text-md-left">
        <div class="col-md-6 col-lg-5 mb-5 mb-md-0">
          <h1>Almaty Hiking</h1>
          <p>Is a mountain route viewer that makes hiking in the mountains easier and safer. Our clients are everyone who wants to visit the mountains without having to worry about their safety. </p>
          <a class="button button-hero mt-4" href="#">Get Started</a>
        </div>
        <div class="col-md-6 col-lg-7 col-xl-6 offset-xl-1">
          <img class="img-fluid" src="static/main/img/home/main.png" alt="">
        </div>
      </div>
    </div>
  </section>
  <!--================Hero Banner Area End =================-->


  <!--================Service Area Start =================-->
  <section class="section-margin generic-margin">
    <div class="container">
      <div class="section-intro text-center pb-90px">
        <img class="section-intro-img" src="static/main/img/home/section-icon.png" alt="">
        <h2>Our Popular Services</h2>
      </div>

      <div class="row">
        <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
          <div class="service-card text-center">
            <div class="service-card-img">
              <img class="img-fluid" src="static/main/img/home/service1.png" alt="" style="width:190px;height:180px;">
            </div>
            <div class="service-card-body">
              <h3>Security statuses</h3>
              <p>The service will show the status of the routes, so people will know how safe the road awaits them, and how best to prepare.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
          <div class="service-card text-center">
            <div class="service-card-img">
              <img class="img-fluid" src="static/main/img/home/service2.png" alt="" style="width:190px;height:180px;">
            </div>
            <div class="service-card-body">
              <h3>Sport shops</h3>
              <p>Each store has its own page where users can see all the products of this store.</p><br>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
          <div class="service-card text-center">
            <div class="service-card-img">
              <img class="img-fluid" src="static/main/img/home/service3.png" alt="" style="width:190px;height:180px;">
            </div>
            <div class="service-card-body">
              <h3>Viewing routes</h3>
              <p>Search for a route to a specific place in the mountains, for example Furmanov's peak, Three Brothers, etc.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================Service Area End =================-->


  <!--================Sport Shops Area Start =================-->
  <section class="bg-gray section-padding magic-ball magic-ball-about">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 col-md-6 mb-4 mb-md-0">
          <div class="about-img">
            <img class="img-fluid" src="static/main/img/home/shops-img.png" alt="" style="">
          </div>
        </div>
        <div class="col-lg-5 col-md-6 align-self-center about-content">
          <h2>Sports Shops</h2>
          <p>In sports shops you can buy the equipment you need, this will increase your safety in the mountains.</p>
          <a class="button" href="#">Learn More</a>
        </div>
      </div>
    </div>
  </section>
  <!--================Sport Shops Area End =================-->

  <!--================Mountain section Start =================-->
  <section class="section-margin pb-xl-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="mountain-card">
            <img class="card-img rounded-0" src="static/main/img/home/mountain1.png" alt="">
            <div class="mountain-card-overlay">
              <div class="media">
                <div class="media-body">
                  <h4>Furmanov Peak</h4>
                  <small>Status:</small><small style="color:yellow;"> Yellow</small><br>
                  <small>2,985m</small>
                  <p>The local area is popular for hiking among beginners and seasoned mountain walkers.</p>
                </div>
                <div class="media">
                  <h4 class="text-primary"><a href="#">More</a></h4>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="row">
            <div class="col-lg-10 offset-lg-1">
              <div class="mountain-content">
                <h2>We offer routes to different places in the mountains</h2>
                <p>Make sure your mountain vacation is safe</p><br>
              </div>
            </div>
          </div>

          <div class="mountain-card">
            <img class="card-img rounded-0" src="static/main/img/home/mountain2.png" alt="">
            <div class="mountain-card-overlay">
              <div class="media">
                <div class="media-body">
                  <h4>Rocks Three Brothers</h4>
                  <small>Status:</small><small style="color:red;"> Red</small><br>
                  <small>2,860m</small>
                  <p>These are several outliers on the Kumbel ridge. Qum in Kazakh means sand, belly - back, ridge. Those. a sandy ridge or ridge not covered with eternal snow.</p>
                </div>
                <div class="media">
                  <h4 class="text-primary"><a href="#">More</a></h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-lg-7">
          <div class="mountain-card">
            <img class="card-img rounded-0" src="static/main/img/home/mountain3.png" alt="">
            <div class="mountain-card-overlay">
              <div class="media">
                <div class="media-body">
                  <h4>Kok-Zhaylyau</h4>
                  <small>Status:</small><small style="color:green;"> Green</small><br>
                  <small>2,251m</small>
                  <p>One of the most popular routes among Almaty residents. Every weekend from 100 to 400 people walk along this trail, regardless of the season, people walk alone, as a couple, with friends, with family, with small children.</p>
                </div>
                <div class="media">
                  <h4 class="text-primary"><a href="#">More</a></h4>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-5">
          <div class="mountain-card">
            <img class="card-img rounded-0" src="static/main/img/home/mountain4.png" alt="">
            <div class="mountain-card-overlay">
              <div class="media">
                <div class="media-body">
                  <h4>Kumbel Peak</h4>
                  <small>Status:</small><small style="color:red;"> Red</small><br>
                  <small>3,230m</small>
                  <p>The Kumbel peak, clearly visible from any point in Almaty, is one of the heights of the ridge of the same name.</p>
                </div>
                <div class="media">
                  <h4 class="text-primary"><a href="#">More</a></h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================Mountains section End =================-->


  <!-- ================ start footer Area ================= -->
  <footer class="footer-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-3  col-md-6 col-sm-6">
          <div class="single-footer-widget">
            <h6>About Us</h6>
            <p>
              Almaty Hiking is a mountain route viewer that makes hiking in the mountains easier and safer. Our clients are everyone who wants to visit the mountains without having to worry about their safety.
            </p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="single-footer-widget">
            <h6>Navigation Links</h6>
            <div class="row">
              <div class="col">
                <ul>
                  <li><a href="#">Home</a></li>
                  <li><a href="#">About</a></li>
                  <li><a href="#">Mountains</a></li>
                  <li><a href="#">Sport shops</a></li>
                </ul>
              </div>
              <div class="col">
                <ul>
                  <li><a href="#">Team</a></li>
                  <li><a href="#">Contact</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="footer-bottom">
        <div class="row align-items-center">
          <p class="col-lg-8 col-sm-12 footer-text m-0 text-center text-lg-left">
          Copyright &copy;2021 All rights reserved | Almaty Hiking <i class="fa fa-mountain" aria-hidden="true"></i></p>
          <div class="col-lg-4 col-sm-12 footer-social text-center text-lg-right">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-vk"></i></a>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- ================ End footer Area ================= -->


  <script src="static/main/vendors/jquery/jquery-3.2.1.min.js"></script>
  <script src="static/main/vendors/bootstrap/bootstrap.bundle.min.js"></script>
  <script src="static/main/vendors/owl-carousel/owl.carousel.min.js"></script>
  <script src="static/main/vendors/nice-select/jquery.nice-select.min.js"></script>
  <script src="static/main/js/jquery.ajaxchimp.min.js"></script>
  <script src="static/main/js/skrollr.min.js"></script>
  <script src="static/main/js/main.js"></script>
</body>
</html>