<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Almaty Hiking - Shops</title>
	<link rel="icon" href="static/main/img/Fevicon.png" type="image/png">

  <link rel="stylesheet" href="static/main/vendors/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="static/main/vendors/fontawesome/css/all.min.css">
  <link rel="stylesheet" href="static/main/vendors/themify-icons/themify-icons.css">
  <link rel="stylesheet" href="static/main/vendors/linericon/style.css">
  <link rel="stylesheet" href="static/main/vendors/owl-carousel/owl.theme.default.min.css">
  <link rel="stylesheet" href="static/main/vendors/owl-carousel/owl.carousel.min.css">
  <link rel="stylesheet" href="static/main/css/magnific-popup.css">
  <link rel="stylesheet" href="static/main/vendors/flat-icon/font/flaticon.css">
  <link rel="stylesheet" href="static/main/vendors/nice-select/nice-select.css">

  <link rel="stylesheet" href="static/main/css/style.css">
</head>
<body>

  <!--================ Header Menu Area start =================-->
  <header class="header_area">
    <div class="main_menu">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container box_1620">
          <a class="navbar-brand logo_h" href="index"><img src="static/main/img/logo.png" alt=""></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
            <ul class="nav navbar-nav menu_nav justify-content-end">
              <li class="nav-item"><a class="nav-link" href="index">Home</a></li>
              <li class="nav-item"><a class="nav-link" href="about">About</a></li>
              <li class="nav-item"><a class="nav-link" href="mountains">Mountains</a>
              <li class="nav-item active submenu dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sport Shops</a>
                <ul class="dropdown-menu">
                  <li class="nav-item active"><a class="nav-link" href="shops">All Shops</a>
                  <li class="nav-item"><a class="nav-link" href="shop-sportmaster">Sportmaster</a>
                </ul>
              </li>
              <li class="nav-item"><a class="nav-link" href="contact">Contact</a></li>
            </ul>

            <div class="nav-right text-center text-lg-right py-4 py-lg-0">
              <a class="button" href="#">Get Started</a>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </header>
  <!--================Header Menu Area =================-->



  <!--================Hero Banner SM Area Start =================-->
  <section class="hero-banner-sm magic-ball magic-ball-banner" id="parallax-1" data-anchor-target="#parallax-1" data-300-top="background-position: 0px -80px" data-top-bottom="background-position: 0 100px">
    <div class="container">
      <div class="hero-banner-sm-content">
        <h1 style="color: #2a2596;">Sport Shops</h1>
        <p style="color: white;">Sport shops are our partners with whom we cooperate and publish their products(equipment, clothing, etc.) on our website.</p>
      </div>
    </div>
  </section>
  <!--================Hero Banner SM Area End =================-->


  <!--================Blog Area =================-->
  <section class="blog_area section-margin-large">
      <div class="container">
          <div class="row">
              <div class="col-lg-8 mb-5 mb-lg-0">
                  <div class="blog_left_sidebar">
                      <article class="blog_item">
                        <div class="blog_item_img">
                          <img class="card-img rounded-0" src="static/main/https://brandwiki.ru/up/brands/product/190520_3604.jpg" alt="">
                        </div>

                        <div class="blog_details">
                            <a class="d-inline-block" href="shop-sportmaster.html">
                                <h2>Choose a rental outfit that is convenient for you</h2>
                            </a>
                            <p>Sportmaster chain of sports stores is an international chain of sports stores of high-quality sports equipment for fitness, summer and winter sports.</p>
                        </div>
                      </article>

                      <nav class="blog-pagination justify-content-center d-flex">
                          <ul class="pagination">
                              <li class="page-item">
                                  <a href="#" class="page-link" aria-label="Previous">
                                      <span aria-hidden="true">
                                          <span class="lnr lnr-chevron-left"></span>
                                      </span>
                                  </a>
                              </li>
                              <li class="page-item">
                                  <a href="#" class="page-link">1</a>
                              </li>
                              <li class="page-item active">
                                  <a href="#" class="page-link">2</a>
                              </li>
                              <li class="page-item">
                                  <a href="#" class="page-link" aria-label="Next">
                                      <span aria-hidden="true">
                                          <span class="lnr lnr-chevron-right"></span>
                                      </span>
                                  </a>
                              </li>
                          </ul>
                      </nav>
                  </div>
              </div>

          </div>
      </div>
  </section>
  <!--================Blog Area =================-->



  <!-- ================ start footer Area ================= -->
  <footer class="footer-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-3  col-md-6 col-sm-6">
          <div class="single-footer-widget">
            <h6>About Us</h6>
            <p>
              Almaty Hiking is a mountain route viewer that makes hiking in the mountains easier and safer. Our clients are everyone who wants to visit the mountains without having to worry about their safety.
            </p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="single-footer-widget">
            <h6>Navigation Links</h6>
            <div class="row">
              <div class="col">
                <ul>
                  <li><a href="#">Home</a></li>
                  <li><a href="#">About</a></li>
                  <li><a href="#">Mountains</a></li>
                  <li><a href="#">Sport shops</a></li>
                </ul>
              </div>
              <div class="col">
                <ul>
                  <li><a href="#">Team</a></li>
                  <li><a href="#">Contact</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="footer-bottom">
        <div class="row align-items-center">
          <p class="col-lg-8 col-sm-12 footer-text m-0 text-center text-lg-left">
          Copyright &copy;2021 All rights reserved | Almaty Hiking <i class="fa fa-mountain" aria-hidden="true"></i></p>
          <div class="col-lg-4 col-sm-12 footer-social text-center text-lg-right">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-vk"></i></a>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- ================ End footer Area ================= -->


  <script src="static/main/vendors/jquery/jquery-3.2.1.min.js"></script>
  <script src="static/main/vendors/bootstrap/bootstrap.bundle.min.js"></script>
  <script src="static/main/vendors/owl-carousel/owl.carousel.min.js"></script>
  <script src="static/main/vendors/Magnific-Popup/jquery.magnific-popup.min.js"></script>
  <script src="static/main/vendors/nice-select/jquery.nice-select.min.js"></script>
  <script src="static/main/js/jquery.ajaxchimp.min.js"></script>
  <script src="static/main/js/skrollr.min.js"></script>
  <script src="static/main/js/jquery.magnific-popup.min.js"></script>
  <script src="static/main/js/main.js"></script>
</body>
</html>